
   /* daisyUI theme plugin. You can update this file by fetching the latest version with:
     curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
     We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
     on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
   @plugin "../vendor/daisyui-theme" {
     name: "dark";
     default: false;
     prefersdark: true;
     color-scheme: "dark";
     --color-base-100: oklch(0.208 0.042 265.755); /* slate-900 */
     --color-base-200: oklch(0.279 0.041 260.031); /* slate-800 */
     --color-base-300: oklch(0.372 0.044 257.287); /* slate-700 */
     --color-base-content: oklch(100% 0 0); /* white */
     --color-primary: oklch(0.707 0.165 254.624); /* blue-400 */
     --color-primary-content: oklch(0.282 0.091 267.935); /* blue-950 */
     --color-secondary: oklch(0.74 0.238 322.16); /* fuchsia-400 */
     --color-secondary-content: oklch(0.401 0.17 325.612); /* fuchsia-900 */
     --color-accent: oklch(0.811 0.111 293.571); /* violet-300 */
     --color-accent-content: oklch(0.38 0.189 293.745); /* violet-900 */
     --color-neutral: oklch(0.984 0.003 247.858); /* slate-50 */
     --color-neutral-content: oklch(0.279 0.041 260.031); /* slate-800 */
     --color-info: oklch(0.707 0.165 254.624); /* blue-400 */
     --color-info-content: oklch(0.282 0.091 267.935); /* blue-950 */
     --color-success: oklch(0.765 0.177 163.223); /* emerald-400 */
     --color-success-content: oklch(0.378 0.077 168.94); /* emerald-900 */
     --color-warning: oklch(0.828 0.189 84.429); /* amber-400 */
     --color-warning-content: oklch(0.414 0.112 45.904); /* amber-900 */
     --color-error: oklch(0.704 0.191 22.216); /* red-400 */
     --color-error-content: oklch(0.258 0.092 26.042); /* red-950 */
     --radius-selector: 0.25rem;
     --radius-field: 0.25rem;
     --radius-box: 0.5rem;
     --size-selector: 0.21875rem;
     --size-field: 0.21875rem;
     --border: 1.5px;
     --depth: 1;
     --noise: 0;
   }
   
   @plugin "../vendor/daisyui-theme" {
     name: "light";
     default: true;
     prefersdark: false;
     color-scheme: "light";
     --color-base-100: oklch(100% 0 0); /* white */
     --color-base-200: oklch(0.984 0.003 247.858); /* slate-50 */
     --color-base-300: oklch(0.968 0.007 247.896); /* slate-100 */
     --color-base-content: oklch(0.208 0.042 265.755); /* slate-900 */
     --color-primary: oklch(0.546 0.245 262.881); /* blue-600 */
     --color-primary-content: oklch(0.97 0.014 254.604); /* blue-50 */
     --color-secondary: oklch(0.667 0.295 322.15); /* fucshia-500 */
     --color-secondary-content: oklch(0.977 0.017 320.058); /* fucshia-50 */
     --color-accent: oklch(0.811 0.111 293.571); /* violet-300 */
     --color-accent-content: oklch(0.38 0.189 293.745); /* violet-900 */
     --color-neutral: oklch(0.279 0.041 260.031); /* slate-800 */
     --color-neutral-content: oklch(0.984 0.003 247.858); /* slate-50 */
     --color-info: oklch(0.707 0.165 254.624); /* blue-400 */
     --color-info-content: oklch(0.282 0.091 267.935); /* blue-950 */
     --color-success: oklch(0.765 0.177 163.223); /* emerald-400 */
     --color-success-content: oklch(0.378 0.077 168.94); /* emerald-900 */
     --color-warning: oklch(0.828 0.189 84.429); /* amber-400 */
     --color-warning-content: oklch(0.414 0.112 45.904); /* amber-900 */
     --color-error: oklch(0.704 0.191 22.216); /* red-400 */
     --color-error-content: oklch(0.258 0.092 26.042); /* red-950 */
     --radius-selector: 0.25rem;
     --radius-field: 0.25rem;
     --radius-box: 0.5rem;
     --size-selector: 0.21875rem;
     --size-field: 0.21875rem;
     --border: 1.5px;
     --depth: 1;
     --noise: 0;

   }
   